pillow==10.2.0
streamlit==1.31.0
pymongo==4.6.1
pandas==2.2.0
yfinance==0.2.36
pandas==2.2.0
pandas-datareader==0.10.0
numpy==1.26.3
matplotlib==3.8.2
keras==3.0.4
scikit-learn==1.4.0
plotly==5.18.0
neuralprophet==0.6.2